
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F9F9F9;
}

#content{
    background-color: red;
    margin:auto;
    width:100%;
    height:100%;
    min-height:100%;
}